@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFF7F7;
}

a {
    text-decoration: none;
}

.header_0 {
    font-size: 86px; font-weight: 500;
}

.btn {
    color: #1d1d1d;
    background-color: #FFCED6;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn_cta {
    background-color: #FFCED6;
}

.btn_social:hover , .btn_cta:hover {
    background-color: whitesmoke;
}

.social_media {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.btn_social {
    background-color: #FFCED6;
    padding: 5px 15px;
    display: flex;
    border-radius: 4px;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar ul li a {
    color: white;
}

.navbar ul li a {
    padding: 15px;
    margin: 0 6px;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav_links {
    display: flex;
    align-items: center;
}

.navbar ul li a:hover {
    background-color: #64172B;
    color: #FFCED6;
    border-radius: 4px;
}

.logo_navbar , .logo_navbar_mobile {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
}

.logo_navbar_mobile {
    display: none;
}

.navbar .menu_hamburger {
    display: none;
    position: absolute;
    width: 40px;
    top: 60px;
    right: 60px;
}

#Projets , #Formation , #A-propos , #Accueil {
    scroll-margin-top: 108px;
}

.header {
    background: url('/img/background_developpeur.jpeg') center/cover;
    height: 100vh;
    width: 100vw;
    color: white;
}

.header .header_content {
    background-color: #00000085;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.header .header_content .header_0 {
    padding-bottom: 12px;
}

.cta_catch {
    font-size: 22px; margin-bottom: 22px ;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 5px;
    color: #64172B;
}

.projets_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.landing_ecommerce , .landing_restaurant , .landing_wallet {
    width: 90%;
    margin-bottom: 20px;
}

.card {
    display: flex;
    width: 100%;
    gap: 5px;
}

.card_techno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}

.logo_donkeyschool {
    width: 100%;
}

.formation_container {
    display: flex;
}

.formation_img , .formation_paragraphe , .a_propos {
    margin: 20px;
}

.formation_paragraphe {
    display: flex;
    align-items: center;
}

.a_propos {
    text-align: center;
}

.footer .footer_content {
    display:flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5px;
}

.creator {
    margin-left: 5px;
}

@media screen and (max-width: 800px) {
    .navbar {
        padding: 0;
    }

    .logo_navbar {
        position: absolute;
        top: 50px;
        left: 60px;
        display: none;
    }

    .logo_navbar_mobile {
        display: block;
        position: absolute;
        top: 50px;
        left: 60px;
    }

    .navbar .menu_hamburger {
        display: block;
    }

    .menu_hamburger {
        transform: scale(1.2);
        background-color: #64172B;
        padding: 10px;
        border-radius: 50%;
    }

    .nav_links {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .navbar ul li a{
        color: white;
    }

    .nav_links.mobile_menu {
        margin-left: 0;
    }

    .nav_links ul {
        display: flex;
        flex-direction: column;
    }

    .navbar .nav_links ul li {
        margin: 25px 0;
        font-size: 1.5em;
    }
} 

@media screen and (max-width: 900px) {
    .formation_container {
        flex-direction: column;
    }

    .formation_img {
        display: flex;
        justify-content: center;
    }

    .formation_paragraphe{
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    #Projets , #A-propos , #Accueil {
        text-align: center;
    }

    .footer_content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
}